.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 0 1rem;
}

.search-input {
  font-family: "Source Code Pro", sans-serif;
  flex-basis: 600px;
  min-width: 0;
  height: 4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding-right: 3rem;
}

.search-icon {
  flex-shrink: 0;
  font-size: 2rem;
  pointer-events: none;
}
