.header {
  display: flex;
  justify-content: center;
  /*border: 1px solid #000;*/
  padding: 1rem 1.5rem;
  position: sticky;
}

.wrapper {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
}

.logo {
  height: 1.8rem;
}

.github:link {
  text-decoration: none;
  color: inherit;
}

.github:visited {
  color: inherit;
}
