.wrapper {
  margin-top: 1.2rem;
  max-width: 630px;
  display: flex;
  gap: 0.7rem;
  flex-wrap: wrap;
}

.operator {
  position: relative;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: var(--color-primary-1);
  border: none;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.operator:focus-visible {
  outline: 2px auto var(--color-secondary-1);
  outline-offset: 4px;
}

.operator:hover {
  background-color: var(--color-primary-2);
}

.background {
  position: absolute;
  border-radius: 6px;
  z-index: -1;
  width: 100%;
  height: 100%;
  inset: 0px;
  background-color: var(--color-primary-1);
  transform-origin: center center;
  transition: all 0.2s;
}

.operator:hover .background {
  background-color: var(--color-primary-2);
  transform: scale(1.15);
}
