/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  font-size: 62.5%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Source Code Pro", sans-serif;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
 Global variables
*/
:root {
  --bg-color: #fff;
  --color-primary-1: #fbe3fb;
  --color-primary-2: #f6d3f6;
  --color-secondary-1: #3ab6b6;
  --color-operator-info: #d90086;
  --color-operator-docs-1: #fff4b6;
  --color-operator-docs-2: #c0a820;
  --color-bg-code: #f0f1f1;
}
